<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OLD SCHOOL BARBERSHOP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

</head>

<body>
    <header>
        <div class="container"></div>
        <div class="Logo">
            <h1>OLD SCHOOL BARBERSHOP</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#">login</a></li>
                <li><a href="#">Barbeiros</a></li>
                <li><a href="#">Sobre Nós</a></li>
                <li><a href="#">Contato</a></li>
            </ul>


        </nav>
        <div class="Telefone">
            <span>(55) 0000-0000</span>
        </div>


        </div>

    </header>

    <section class="Hero">
        <div class="overlay">
            <div class="hero-content">
                <h2>Tradição e Excelência</h2>
                <p>Desde 1989</p>
                <li><a href="#">Agendar seu Horário</a></li>
            </div>


        </div>



    </section>
    <section class="Sóbre ">
        <div class="container">
            <h2>Sóbre Nós</h2>
            <p>Há mais de 30 anos, a Old School Barber oferece cortes clássicos e serviços
                tradicionais com qualidade e precisão. Nossa missão é proporcionar uma
                experiência única para homens que valorizam estilo e tradição.</p>

        </div>




    </section>


    <section class="serviços">
        <div class="container">
            <h2>Nossos Serviços</h2>
            <div class="cards">
                <div class="card">
                    <h3>Corte Clássico</h3>
                    <p>Corte tradicional na tesoura ou máquina.</p>
                    <span>R$ 55</span>
                </div>

                <div class="card">
                    <h3>Barba Tradicional</h3>
                    <p>Modelagem completa com toalha quente.</p>
                    <span>R$ 35</span>
                </div>

                <div class="card">
                    <h3>Corte + Barba</h3>
                    <p>Pacote completo para um visual impecável.</p>
                    <span>R$ 80</span>
                </div>

                <div class="card">
                    <h3>Tratamento Premium</h3>
                    <p>Hidratação, massagem e acabamento especial.</p>
                    <span>R$ 120</span>
                </div>

            </div>


        </div>




    </section>

    <!-- FOOTER -->
    <footer>
        <div class="container">
            <p>© 2026 Old School Barber - Todos os direitos reservados</p>
            <p>Design e Desenvolvimento: Anderson Veiga</p>
        </div>
    </footer>

</body>

</html>